:root {
    --side-padding: 1.6rem;

    --col-blk: #000004;
    --col-bg: #FEF1F2;
    --col-bg-dark: #FDEAEB;
    --col-shadow: #E0B5B5;
    --col-blush: #E9806E;
    --col-yel: #FFD43B;
    --col-blue: #87BCDE;
    --col-green: #24BC7F;
    --col-disabled: #cbc1c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1.6rem;
    padding: 0 var(--side-padding);
    max-width: 1200px;
    background-color: var(--col-bg);
    color: var(--col-blk);
}

p,
li,
div {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}





/*---------------------------*\
    #NAV BAR
\*---------------------------*/

.nav-item {
    list-style: none;
}




/*---------------------------*\
    #NOTE BLOCKS
\*---------------------------*/

.note-group {
    display: flex;
    flex-wrap: wrap;
}

.note-block {
    height: 6.4rem;
    border: 2px solid var(--col-blk);
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
    box-shadow: 5px 5px var(--col-shadow);
}

.bar-container {
    height: 6.4rem;
    border: 2px solid var(--col-blk);
    border-radius: 6px;
    display: flex;
    align-items: center;

    margin: 0.8rem, 0;
}

.draggable {
    cursor: grab;
    touch-action: none;
}

.dragging {
    cursor: grabbing;
    opacity: 50%;
    box-shadow: none;
}

.bar-container {
    width: 100%;
}

.quarter-note {
    width: 25%;
    background-color: var(--col-blush);
}

.eighth-note {
    width: 12.5%;
    background-color: var(--col-yel);
}

.sixteenth-note {
    width: 6.25%;
    background-color: var(--col-blue);
}

.rest {}

.surplus {
    cursor: not-allowed;
    background-color: var(--col-disabled);
    opacity: 70%;
}

.note-block.placed {
    margin: 0%;
    box-shadow: none;
}

.placed.disabled {
    cursor: not-allowed;
}

.block-note-label {
    max-height: 30px;
    margin: 0.4rem;
}


/*---------------------------*\
    #NOTATION
\*---------------------------*/

.notation {
    width: 100%;
    max-width: 600px;
}

.playback-marker--bar,
.playback-marker {
    height: 8rem;
    border-left: 2px solid green;
    position: absolute;
    opacity: 0;
}

.splitter {
    height: 8rem;
    border-left: 2px dotted black;
    position: absolute;
    opacity: 0;
}





/*---------------------------*\
    #CONTROL PANEL
\*---------------------------*/

.time-signature {
    width: 3.2rem;
    height: 3.2rem;
}

.time-signature.pressed {
    background-color: aquamarine;
}

.time-signature.disabled {
    pointer-events: none;
    color: grey;
}

.play {
    pointer-events: none;
    color: grey;
}

.play.play--active {
    pointer-events: all;
    background-color: goldenrod;
    color: black;
}






/*---------------------------*\
    #COUNT
\*---------------------------*/

.count {
    display: grid;
    grid-template-rows: 2.4rem;
    place-items: center start;
    width: 100%;
}

/* containers */

.count--2 {
    grid-template-columns: repeat(2, auto);
}

.count--3 {
    grid-template-columns: repeat(3, auto);
}

.count--4 {
    grid-template-columns: repeat(4, auto);
}

.count--5 {
    grid-template-columns: repeat(5, auto);
}

.count--6 {
    grid-template-columns: repeat(6, auto);
}

.count--7 {
    grid-template-columns: repeat(7, auto);
}

.count--8 {
    grid-template-columns: repeat(8, auto);
}

.count--16 {
    grid-template-columns: repeat(16, auto);
}


/* items */

.count__item {
    font-family: 'Fugaz One', cursive;
}

.count__item--hidden {
    opacity: 0;
    pointer-events: none;
}

.count__item--1 {
    grid-column: 1/2;
}

.count__item--2 {
    grid-column: 2/3;
}

.count__item--3 {
    grid-column: 3/4;
}

.count__item--4 {
    grid-column: 4/5;
}

.count__item--5 {
    grid-column: 5/6;
}

.count__item--6 {
    grid-column: 6/7;
}

.count__item--7 {
    grid-column: 7/8;
}

.count__item--8 {
    grid-column: 8/9;
}

.count__item--9 {
    grid-column: 9/10;
}

.count__item--10 {
    grid-column: 10/11;
}

.count__item--11 {
    grid-column: 11/12;
}

.count__item--12 {
    grid-column: 12/13;
}

.count__item--13 {
    grid-column: 13/14;
}

.count__item--14 {
    grid-column: 14/15;
}

.count__item--15 {
    grid-column: 15/16;
}

.count__item--16 {
    grid-column: 16/17;
}




/*---------------------------*\
#MODAL
\*---------------------------*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
}

.material-icons {
    cursor: pointer;
    user-select: none;
    width: max-content;
}





/*---------------------------*\
    #HIDE UTILITY
\*---------------------------*/

.visible {
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.hidden {
    display: none;
    pointer-events: none;
}