{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:wght@400;800&display=swap" rel="stylesheet"> 
  
  <title>Note Adder</title>
</head>


<body>

    <nav>
      <div class="container">
        <div class="nav-item"><a id="home" href="{% url 'home' %}"><img class="logo" src="{% static '/svg/logo.svg' %}" alt="Note adder home"></a></div>
        <div id="menu" class="nav-item menu"><p>Menu</p></div>
        <p id="close-menu" class="nav-item menu close hidden">+</p>
      </div>
      
      <ul class="navbar hidden">
        <li class="nav-item"><a class="nav-item" id="learn" href="{% url 'learn' %}">Learn</a></li>
        <li class="nav-item"><a class="nav-item" id="about" href="{% url 'about' %}">About</a></li>
        <li class="nav-item"><a class="nav-item" id="feedback" href="{% url 'feedback' %}">Feedback</a></li>
        <li class="nav-item"><a class="nav-item" id="contact" href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>

    {% block content %}{% endblock content %}


    <script src="{% static '/js/navbar.js' %}"></script>

</body>
</html>