{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<form class="container--col form" method="post">
  <h1>Contact</h1>
  {% csrf_token %}
  {{ form.subject|add_class:'input'|attr:'placeholder:Subject' }}
  {% render_field form.message class+='input' rows='5' placeholder='Message*' %}
  {{ form.email|add_class:'input'|attr:'placeholder:Email*' }}
  <button type="submit" id="id_submit" class="btn btn--submit">Submit</button>
  {% for message in messages %}
    {% if 'custom' in message.tags %}
      <p class="banner__message">{{ message }}</p>
    {% endif %}
  {% endfor %}
</form>
{% endblock content %}