{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="note-group">
    <div class="draggable note-block quarter-note" value="1" draggable="true" vf-duration="q" dotted="false" note-color="blue">4</div>
    <div class="draggable note-block quarter-note rest" value="1" draggable="true" vf-duration="qr" dotted="false" note-color="blue">4r</div>
  </div>
  <div class="note-group">
    <div class="draggable note-block eighth-note" value="0.5" draggable="true" vf-duration="8" dotted="false" note-color="purple">8</div>
    <div class="draggable note-block eighth-note rest" value="0.5" draggable="true" vf-duration="8r" dotted="false"  note-color="purple">8r</div>
  </div>
  <div class="note-group">
    <div class="draggable note-block sixteenth-note" value="0.25" draggable="true" vf-duration="16" dotted="false"  note-color="red">16</div>
    <div class="draggable note-block sixteenth-note rest" value="0.25" draggable="true"  vf-duration="16r" dotted="false" note-color="red">16r</div>
  </div>
  <input class="dot-toggle" type="checkbox" name="dotted" label="dotted?">

  <div class="bar-container" value="4" absolute-value="4" time-sig="4/4"></div>
  <div class="bin">Bin</div>

  <div id="notation-container" class="notation"></div>

  <button class="time-signature" top="2" bottom="4" bottom-value="1" signature="2/4">2/4</button>
  <button class="time-signature" top="3" bottom="4" bottom-value="1" signature="3/4">3/4</button>
  <button class="time-signature pressed" top="4" bottom="4" bottom-value="1" signature="4/4">4/4</button>
  <button class="time-signature" top="5" bottom="4" bottom-value="1" signature="5/4">5/4</button>
  <button class="time-signature" top="6" bottom="4" bottom-value="1" signature="6/4">6/4</button>
  <button class="time-signature" top="5" bottom="8" bottom-value="0.5" signature="5/8">5/8</button>
  <button class="time-signature" top="6" bottom="8" bottom-value="0.5" signature="6/8">6/8</button>
  <button class="time-signature" top="7" bottom="8" bottom-value="0.5" signature="7/8">7/8</button>

  <button class="play">Play</button>

  <script src="{% static '/js/drag.js' %}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.min.js"></script>
  <script src="{% static '/js/time-signatures.js' %}" defer></script>
  <script src="{% static '/js/notation_bundle.js' %}" type="module" defer></script>
  <script src="{% static '/js/playback/playback.js' %}"></script>
{% endblock content %}
