{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div class="note-group">
    <div class="draggable note-block quarter-note" value="1" draggable="true" vf-duration="q" tonejs-duration="4n"dotted="false" note-color="#E9806E">
      <img class="block-note-label" src="{% static '/svg/quarter_note.svg' %}" draggable="false">
    </div>
    <div class="draggable note-block quarter-note rest hidden" value="1" draggable="true" vf-duration="qr" tonejs-duration="4n" dotted="false" note-color="#E9806E">
      <img class="block-note-label" src="{% static '/svg/quarter_note_rest.svg' %}" draggable="false">
    </div>

    <div class="draggable note-block eighth-note" value="0.5" draggable="true" vf-duration="8" tonejs-duration="8n" dotted="false" note-color="#FFD43B">
      <img class="block-note-label" src="{% static '/svg/eighth_note.svg' %}" draggable="false">
    </div>
    <div class="draggable note-block eighth-note rest hidden" value="0.5" draggable="true" vf-duration="8r" tonejs-duration="8n" dotted="false"  note-color="#FFD43B">
      <img class="block-note-label" src="{% static '/svg/eighth_note_rest.svg' %}" draggable="false">
    </div>

    <div class="draggable note-block sixteenth-note" value="0.25" draggable="true" vf-duration="16" tonejs-duration="16n" dotted="false"  note-color="#87BCDE">
      <img class="block-note-label" src="{% static '/svg/sixteenth_note.svg' %}" draggable="false">
    </div>
    <div class="draggable note-block sixteenth-note rest hidden" value="0.25" draggable="true"  vf-duration="16r" tonejs-duration="16n" dotted="false" note-color="#87BCDE">
      <img class="block-note-label" src="{% static '/svg/sixteenth_note_rest.svg' %}" draggable="false">
    </div>
  </div>

  <input class="toggle dot-toggle" type="checkbox" name="dotted" label="dotted?">
  <input class="toggle rest-toggle" type="checkbox" name="rest" label="rest?">

  <div class="count count--2 hidden">
        <p class="count__item count__item--1">1</p>
        <p class="count__item count__item--2">2</p>
  </div>
  <div class="count count--3 hidden">
        <p class="count__item count__item--1">1</p>
        <p class="count__item count__item--2">2</p>
        <p class="count__item count__item--3">3</p>
  </div>
  <div class="count count--4">
        <p class="count__item count__item--1">1</p>
        <p class="count__item count__item--2">2</p>
        <p class="count__item count__item--3">3</p>
        <p class="count__item count__item--4">4</p>
  </div>
  <div class="count count--5 hidden">
        <p class="count__item count__item--1">1</p>
        <p class="count__item count__item--2">2</p>
        <p class="count__item count__item--3">3</p>
        <p class="count__item count__item--4">4</p>
        <p class="count__item count__item--5">5</p>
  </div>
  <div class="count count--6 hidden">
        <p class="count__item count__item--1">1</p>
        <p class="count__item count__item--2">2</p>
        <p class="count__item count__item--3">3</p>
        <p class="count__item count__item--4">4</p>
        <p class="count__item count__item--5">5</p>
        <p class="count__item count__item--6">6</p>
  </div>
  <div class="count count--7 hidden">
        <p class="count__item count__item--1">1</p>
        <p class="count__item count__item--2">2</p>
        <p class="count__item count__item--3">3</p>
        <p class="count__item count__item--4">4</p>
        <p class="count__item count__item--5">5</p>
        <p class="count__item count__item--6">6</p>
        <p class="count__item count__item--7">7</p>
  </div>

  <div class="bar-container" value="4" absolute-value="4" time-sig="4/4">
    <div class="one-bar">
      <div class="one-bar__letter">O</div>
      <div class="one-bar__letter">N</div>
      <div class="one-bar__letter">E</div>
      <div class="one-bar__letter">&nbsp;</div>
      <div class="one-bar__letter">B</div>
      <div class="one-bar__letter">A</div>
      <div class="one-bar__letter">R</div>
    </div>
  </div>

  <div id="notation-container" class="notation"></div>
  <div class="playback-marker playback-marker--notation"></div>
  <div class="playback-marker playback-marker--bar"></div>

  <span id="help-button" class="material-icons">help_outline</span>

  <div class="card">
    <div class="container">
      <div class="time-sig-panel">
        <div class="time-sig-row">
          <div class="time-signature time-signature--24" top="2" bottom="4" bottom-value="1" signature="2/4">
            <img class="time-sig-label" src="{% static '/img/timesig24.png' %}" draggable="false">
          </div>
          <div class="time-signature time-signature--34" top="3" bottom="4" bottom-value="1" signature="3/4">
            <img class="time-sig-label" src="{% static '/img/timesig34.png' %}" draggable="false">
          </div>
          <div class="time-signature time-signature--44 pressed" top="4" bottom="4" bottom-value="1" signature="4/4">
            <img class="time-sig-label" src="{% static '/img/timesig44.png' %}" draggable="false">
          </div>
          <div class="time-signature time-signature--54" top="5" bottom="4" bottom-value="1" signature="5/4">
            <img class="time-sig-label" src="{% static '/img/timesig54.png' %}" draggable="false">
          </div>
        </div>
        <div class="time-sig-row">
          <div class="time-signature time-signature--64" top="6" bottom="4" bottom-value="1" signature="6/4">
            <img class="time-sig-label" src="{% static '/img/timesig64.png' %}" draggable="false">
          </div>
          <div class="time-signature time-signature--58" top="5" bottom="8" bottom-value="0.5" signature="5/8">
            <img class="time-sig-label" src="{% static '/img/timesig58.png' %}" draggable="false">
          </div>
          <div class="time-signature  time-signature--68" top="6" bottom="8" bottom-value="0.5" signature="6/8">
            <img class="time-sig-label" src="{% static '/img/timesig68.png' %}" draggable="false">
          </div>
          <div class="time-signature time-signature--78" top="7" bottom="8" bottom-value="0.5" signature="7/8">
            <img class="time-sig-label" src="{% static '/img/timesig78.png' %}" draggable="false">
          </div>
        </div>
      </div>
    
      <button class="play">
            <img class="play-icon" src="{% static '/svg/play.svg' %}" draggable="false">
            <img class="play-icon play--active hidden" src="{% static '/svg/play-active.svg' %}" draggable="false">
      </button>
    </div>
    <div class="bpm-value">120</div>
    <input type="range" min="70" max="180" value="120" class="bpm-slider">
  </div>



  <div class="overlay overlay--help hidden">
      <div id="help" class="modal">
            <span class="material-icons modal-close">highlight_off</span>
            <h2>Help</h2>
            <p>Note Adder helps you to visualise and understand musical note values.</p>
            <p>The coloured blocks at the top represent quarter notes, eighth notes and sixteenth notes (and their respective rests). The box below the note blocks represents a bar of music which you can drag the note blocks into to create a musical phrase.</p>
            <p>As you build a musical phrase using the note blocks, you'll see the notation updated in the stave below.</p>
            <p>You can use the control panel at the bottom to play back the phrase, adjust the playback tempo and choose a different time signature.</p>
            <p>If you are new to music, try going through the <a href="{% url 'learn' %}">learn section</a> to learn about rhythmic musical notation.</p>
      </div>
  </div>

  <script src="{% static '/js/drag.js' %}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.min.js"></script>
  <script src="{% static '/js/time-signatures.js' %}" defer></script>
  <script src="{% static '/js/shared_bundle.js' %}" type="module" defer></script>
  <script src="{% static '/js/notation_bundle.js' %}" type="module" defer></script>
  <script src="{% static '/js/playback/playback.js' %}"></script>
  <script src="{% static '/js/bpm.js' %}"></script>
  <script src="{% static '/js/modal.js' %}"></script>
  <script src="{% static '/js/rest_toggle.js' %}"></script>
{% endblock content %}


